/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

#map {
    border: 2px solid black;
}

      #map {
        height: 200px;
        width: 100%;
      }

      .shared {
        background-color: rgb(230, 230, 230);
      }

      .btn.facebook, .skiplink.facebook {
        background: #3b5998;
        border: 1px solid #3b5998;
      }
      .btn.facebook:hover, .skiplink.facebook:hover {
        background: #4c70ba;
      }

      footer#credits .socbtns {
        float: right;
      }

      .socbtns {
        display: inline-block;
        padding: 15px 0;
        overflow: hidden;
      }

      .socbtns li {
        float: left;
        margin-right: 2px;
      }

      .pie {
        background-color: rgb(230, 230, 230);
        border-top: 1px solid #ccc;
        font-family: 'Open Sans';
      }


figcaption {
    text-align: center;
}

.btn.twitter:hover, .skiplink.twitter:hover {
background: #21c2ff;
}
.btn.twitter, .skiplink.twitter {
background: #00aced;
border: 1px solid #00aced;
}

.nivel1 {
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    padding: 1em;
}

.nivel2 {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    padding: 1em;
}

.programa {
    margin-bottom: 2em;
}

.semana {
    margin: 1em;
}


.temas {
    margin-left: 2em;
}


.programa h5 {
    margin: 0 0 5px;
    background: url("../images/sprite.png") 2px 5px no-repeat;
    padding-left: 20px;
}

.programa h5.open {
    background-position: 0px -34px;
}

img.photo {
    margin-top: 2em;
    border: 2px solid black;
}

header {
    text-align: center;
}

a {
color: #2678D0;
}

.presentacion p {
    font-size: 1.3rem;
}
